html {
   box-sizing: border-box;
}

*, ::after, ::before {
   box-sizing: inherit;
}

.body {
   font-family: 'Montserrat', sans-serif;
   background-color: #ededed;

}

@media (min-width: 320px) {
   .body {
      margin: 0 10px;
   }
}

.container {
   max-width: 800px;
   margin: 50px auto;
}

.taskContainer {
   background-color: white;
}

.taskContainer__header {
   border-bottom: 2px solid #ededed;
   padding: 20px;
   margin-bottom: 0;
}

.taskContainer__form {
   padding: 20px;
   display: flex;
   justify-content: space-between;
}

@media (max-width: 320px) {
   .taskContainer__form {
      display: block;
   }
}


.taskContainer__addTask {
   padding: 15px 10px;
   border: 2px solid #ededed;
}

@media (max-width:320px) {
   .taskContainer__addTask {
      width: 100%;
   }
}

.taskContainer__addTask--long {
   width: 80%;

}

@media (max-width:320px) {
   .taskContainer__addTask--long {
      width: 100%;
      margin-bottom: 8px;
   }
}


.taskContainer__addTask--button {
   background-color: teal;
   color: #ededed;
}

.tasks {
   display: flex;
   border-bottom: 2px solid #ededed;
   margin-top: 40px;
   padding: 20px;
   justify-content: space-between;
}

.tasks__list {
   list-style: none;
   padding-left: 10px;
   padding-right: 20px;
}

.taskContainer__done {
   color: white;
   background-color: green;
   border: none;
   align-self: center;
   padding: 12px 15px;

}

.taskContainer_inline {
   display: inline-flex;
}

.taskContainer__remove {
   background-color: red;
   border: none;
   padding: 10px;
   align-self: center;
}